$primary-color: #01010f;
$secondary-color: #C0392B;
$secondary-color-hover: #d85347;
$tertiary-color: #ffffff;
$light-red-color: #dd7e7e;

.primary-bg{
        background-color: $primary-color;
    }

    .secondary-bg{
        background-color: $secondary-color;
    }

    .secondary-bg:hover{
        background-color: $secondary-color-hover;
    }
    .tertiary-bg{
        background-color: $tertiary-color;
    }

    .primary-font{
        color: $primary-color;
    }

    .secondary-font{
        color: $secondary-color;
    }

    .tertiary-font{
        color: $tertiary-color;
    }
    .arrow-up
    {
        width:0;
        height:0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid white;
        display:inline-block;
        margin-left:2%;
    }
    .arrow-down
    {
        width:0;
        height:0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid white;
        display:inline-block;
        cursor: pointer;
        margin-left:2%;
    }
    li {
        display:inline;
        margin-left:2%;
        margin-right:2%;
        padding:1%;
    }
    td {
        width: 136px;
    }
    .pure-button{
        border-radius: 10px;
    }
    .fail
    {
        background-color: $light-red-color!important;
    }
    .margin
    {
        margin:1%;
    }
    .marginlr
    {
        margin-left:1%;
        margin-right:1%;
    }
    .banner
    {
        padding:5%;
        margin-bottom:2%;
    }
    .centered{
        text-align: center;
    }
    a{
        color:black;
    }
    tbody tr:nth-child(odd) {
        background-color: #eee;
    }
