<link rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css'>
<style>
    @fonts-face {
        fonts-family: 'montserrat'!important;
        src: url(./fonts/montserrat/Montserrat-Black.otf);
        fonts-weight: 900;
        fonts-style: normal;
    }
    @fonts-face {
        fonts-family: 'montserrat'!important;
        src: url(./fonts/montserrat/Montserrat-Bold.otf);
        fonts-weight: 700;
        fonts-style: italic;
    }
    @fonts-face {
        fonts-family: 'montserrat'!important;
        src: url(./fonts/montserrat/Montserrat-ExtraBold.otf);
        fonts-weight: 800;
        fonts-style: normal;
    }
    @fonts-face {
        fonts-family: 'montserrat'!important;
        src: url(./fonts/montserrat/Montserrat-Regular.otf);
        fonts-weight: 400;
        fonts-style: normal;
    }
    @fonts-face {
        fonts-family: 'montserrat'!important;
        src: url(./fonts/montserrat/Montserrat-Regular.otf);
        fonts-weight: 500;
        fonts-style: normal;
    }
    @fonts-face {
        fonts-family: 'montserrat'!important;
        src: url(./fonts/montserrat/Montserrat-SemiBold.otf);
        fonts-weight: 600;
        fonts-style: normal;
    }
    @fonts-face {
        fonts-family: 'montserrat'!important;
        src: url(./fonts/montserrat/Montserrat-UltraLight.otf);
        fonts-weight: 300;
        fonts-style: normal;
    }
    .arrow-up
    {
        width:0;
        height:0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid black;
        display:inline-block;
        margin-left:2%;
    }
    .arrow-down
    {
        width:0;
        height:0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid black;
        display:inline-block;
        cursor: pointer;
        margin-left:2%;
    }
    li {
        display:inline;
        margin-left:2%;
        margin-right:2%;
        padding:1%;
    }
    td {
        width: 116px;
    }
    .pure-button{
        border-radius: 10px;
    }
    .fail
    {
        background-color:#ff6666;
    }
    
</style>

<div ng-app='webonise' ng-cloak>
    <div class='pure-g' ng-controller='students' >
        <div class='pure-u-1-3'>
            <div class='pure-form pure-form-stacked'>
                <div class='pure-u-1-3'></div>
                <div class='pure-u-1-3'>
                    <fieldset>
                        <legend>Filters</legend>
                        <label for='searchName'>Name</label>
                        <input id='searchName' ng-model='search.name' ng-change='filter()' type='text' placeholder='Search name'>
                        <label for='searchRollNumber'>Roll Number</label>
                        <input id='searchRollNumber' ng-model='search.rollNo' ng-change='filter()' type='text' placeholder='Search roll number'>
                    </fieldset>
                </div>
                <div class='pure-u-1-3'></div>
            </div>
        </div>
        <div class='pure-u-1-3' >
            <table class='pure-table pure-table-bordered'>
                <div align='center' id='orderTracking_data'>
                    <thead  style = 'fonts-weight: bolder'>
                        <tr>
                            <td class='clickable' ng-click='sortData("rollNo")'>Roll Number<div ng-class='getSortClass("rollNo")'></div></td>
                            <td class='clickable' ng-click='sortData("name")'>Name<div ng-class='getSortClass("name")'></div></td>
                            <td class='clickable' ng-click='sortData("dob")'>DOB<div ng-class='getSortClass("dob")'></div></td>
                            <td class='clickable' ng-click='sortData("percentage")'>Percentage<div ng-class='getSortClass("percentage")'></div></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate='row in filteredData | orderBy:sortColumn:reverseSort | itemsPerPage:count' ng-class='isFail(row.percentage)'ng-init='count = 10'>
                            <td>{{ row.rollNo}}</td>
                            <td>{{ row.name}}</td>
                            <td>{{ row.dob | date:'MM/dd/yyyy' }}</td>
                            <td>{{ row.percentage}}</td>    
                        </tr>
                    </tbody>
                </div>
            </table>
            <div align='center'>
                <dir-pagination-controls 
                    max-size='5'
                    direction-links='true'
                    boundary-links='true' >
                </dir-pagination-controls>
                <button class='pure-button' ng-click='loadMoreRecords()'>Load Next 10 Records</button>
            </div>

        </div>
        <div class='pure-u-1-3'></div>
    </div>
</div>
<script src='http://underscorejs.org/underscore-min.js'></script>
<script src='./js/angular.js'></script>
<script src='./js/dirPagination.js'></script>
<script>
                    var app = angular.module('webonise', ['angularUtils.directives.dirPagination']);

                    app.controller('students', function ($scope, $http, transformRequestAsFormPost) {
                        $scope.search={};
                        $scope.search.name="";
                        $scope.search.rollNo="";
                        $scope.data = [
                            {'rollNo': 1, 'name': 'deep', 'dob': 807853316000, 'percentage': 90},
                            {'rollNo': 2, 'name': 'karan', 'dob': 807853716000, 'percentage': 80},
                            {'rollNo': 3, 'name': 'rahul', 'dob': 807858316000, 'percentage': 40},
                            {'rollNo': 4, 'name': 'jay', 'dob': 807859316000, 'percentage': 39},
                            {'rollNo': 5, 'name': 'kinnary', 'dob': 807853716000, 'percentage': 60},
                            {'rollNo': 6, 'name': 'neha', 'dob': 807853616000, 'percentage': 30},
                            {'rollNo': 7, 'name': 'john', 'dob': 807873316000, 'percentage': 80},
                            {'rollNo': 8, 'name': 'dave', 'dob': 808853316000, 'percentage': 60},
                            {'rollNo': 9, 'name': 'divya', 'dob': 809853316000, 'percentage': 50},
                            {'rollNo': 10, 'name': 'chirag', 'dob': 837843316000, 'percentage': 40},
                            {'rollNo': 8, 'name': 'rohit', 'dob': 897853316000, 'percentage': 35},
                        ]
                        $scope.filteredData=$scope.data
                        
                        $scope.isFail=function(per)
                        {
                            if(per>40)
                            {
                                return ''
                            }
                            return 'fail'
                                
                        }
                        
                        $scope.filter = function()
                        {
                            $scope.filteredData=[]
                            for (i in $scope.data) {
                                if($scope.search.rollNo == "" && $scope.search.name == "")
                                {
                                    $scope.filteredData=$scope.data
                                    break;
                                }
                                else if($scope.data[i].rollNo == $scope.search.rollNo || $scope.data[i].name == $scope.search.name)
                                {
                                    $scope.filteredData.push($scope.data[i])
                                }
                            }
                        }

                        $scope.sortColumn = 'rollNo';

                        $scope.reverseSort = false;

                        $scope.incrementCount = function () {
                            if ($scope.count >= 10) {
                                return;
                            }
                            $scope.countS++;
                        }

                        $scope.decrementCount = function () {
                            if ($scope.count == 1) {
                                return;
                            }
                            $scope.countS--;
                        }

                        $scope.sortData = function (column)
                        {
                            $scope.reverseSort = ($scope.sortColumn == column) ? !$scope.reverseSort : false;
                            $scope.sortColumn = column;
                        }
                        $scope.getSortClass = function (column)
                        {
                            if ($scope.sortColumn == column)
                            {
                                return $scope.reverseSort ? 'arrow-down' : 'arrow-up';
                            }
                            return '';
                        }
                        $scope.loadMoreRecords = function ()
                        {

                        }
                    });
                    

                    app.factory(
                            'transformRequestAsFormPost',
                            function () {
                                // I prepare the request data for the form post.
                                function transformRequest(data, getHeaders) {
                                    var headers = getHeaders();
                                    headers[ 'Content-type' ] = 'application/x-www-form-urlencoded; charset=utf-8';
                                    return(serializeData(data));
                                }
                                return(transformRequest);
                                function serializeData(data) {
                                    if (!angular.isObject(data)) {
                                        return((data == null) ? '' : data.toString());
                                    }
                                    var buffer = [];
                                    for (var name in data) {
                                        if (!data.hasOwnProperty(name)) {
                                            continue;
                                        }
                                        var value = data[ name ];
                                        buffer.push(
                                                encodeURIComponent(name) +
                                                '=' +
                                                encodeURIComponent((value == null) ? '' : value)
                                                );
                                    }
                                    var source = buffer
                                            .join('&')
                                            .replace(/%20/g, '+')
                                            ;
                                    return(source);
                                }
                            }
                    );
                    app.value(
                            '$sanitize',
                            function (html) {
                                return(html);
                            }
                    );
                    app.config(['$httpProvider', function ($httpProvider) {
                            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                        }]);

</script>